@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap");

/* resets */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-text-color: #14213d;
  --secondary-text-color: #14214d;
  --accent-color: #fca311;
  --accent-color-dark: #eecd9c;
  --padding-inline-section: 20px;
  --nav-text-size: 1.5rem;
}
body {
  font-family: "Poppins", "sans-serif";
  /* for heading */
  color: var(--primary-text-color);
  background-color: #e5e5e5;
}

/* h1 60px 2.5 * 24 */
/* h2 48px  22 * 2.2*/
/* h3 36px 20 * 1.8 */
/* p 18px 16*1.2  */
/* h4 24px 18*1.4 */

h1 {
  font-size: 3em;
}
h2 {
  font-size: 2.5em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.5em;
}
p {
  font-family: "Rubik", "sans-serif";
  font-size: 1.2em;
  color: var(--secondary-text-color);
  line-height: 1.8rem;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul {
  list-style: none;
}
::selection {
  color: rgb(81, 123, 18);
}

/* utility-class */
.container {
  max-width: 1180px;
  margin-inline: auto;
  overflow: hidden;
  padding-inline: var(--padding-inline-section);
}
.flex {
  display: flex;
  align-items: center;
}
.small-bold-text {
  font-size: 1rem;
  font-weight: 700;
}
.hover-links {
  color: var(--primary-text-color);
  transition: 0.2s ease-out;
}
.hover-links:hover {
  color: var(--accent-color);
}
.primary-button {
  background-color: var(--accent-color);
  border-radius: 6px;
  font-size: 18px;
  font-weight: 600;
  color: var(--primary-text-color) !important;
  padding: 14px 32px;
  transition: 0.2s ease-out;
  box-sizing: 0 0 2px var(--secondary-text-color);

  border: 1px solid var(--accent-color);
}
.primary-button:hover {
  background-color: var(--accent-color-dark);
  /* color: white; */
  /* box-shadow: #691b9a 0 0px 10px; */
}
.secondary-button {
  /* border: 0.5px solid var(--secondary-text-color); */
  border: 0.5px solid var(--accent-color);
  border-radius: 6px;
  font-weight: 600;
  font-size: 18px;
  color: var(--primary-text-color) !important;
  padding: 14px 32px;
  transition: 0.2s ease-out;
}
.secondary-button:hover {
  /* border-color: var(--accent-color); */
  border-color: var(--primary-text-color);
  /* color: var(--accent-color) !important; */
}

/* ----------------------------- */

/* nav-bar */

/* nav {
  position: fixed;
  width: 100%;
} */
.main-nav {
  box-shadow: rgb(157 157 157 / 20%) 0px 4px 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  backdrop-filter: blur(16px);
  z-index: 10;
  /* for toggle */
}
.main-nav-container {
  justify-content: space-between;
}
.nav-links {
  flex-basis: 730px;
}
.nav-links ul {
  justify-content: end;
  gap: 40px;
}
.company-logo {
  padding-block: 12px;
  margin-right: 20px;
}

.nav-toggle {
  display: none;
}

/* .dark {
  background-color: black;
  color: white;
} */
.typing {
  background-color: #000;
}
#dark-mode {
  font-size: 2rem;
  cursor: pointer;
}

/* li{
    font-size: var(--nav-text-size);
 } */

/* header section */
header {
  padding: 100px var(--padding-inline-section) 0;
  /* border-bottom: 1px solid #ccc; */
}

.header-section {
  justify-content: center;
  gap: 2.5rem;
  padding: 20px;
  /* margin-top: 20px; */
}
.header-left {
  /* max-width: 40vw; */
  flex-basis: 100%;
}
.header-right {
  flex-basis: 100%;
}

.header-left h1 {
  margin-top: 20px;
}
.header-left .get-started-btn {
  margin-top: 20px;
}
.header-left p {
  line-height: 30px;
}

.header-right img {
  width: 100%;
  /* border-radius: 30px; */
  /* border: 3px solid var(--accent-color); */
  /* height: 400px; */
  /* box-shadow: 0 0 5px var(--accent-color); */
}

.header-left span,
.auto-typing {
  color: var(--accent-color);
}

.auto-typing {
  display: inline-block;
  position: relative;
  letter-spacing: 2px;
  white-space: nowrap;
  z-index: -100;
}
.auto-typing ::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.auto-typing::after {
  content: "|";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #e5e5e5;
  animation: typing 8s steps(11) infinite, blink 700ms linear infinite normal;
}
/* .typing::after {
  content: "|";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  animation: typing 8s steps(11) infinite, blink 700ms linear infinite normal;
} */
@keyframes typing {
  40%,
  60% {
    width: 0;
    left: 100%;
  }
  100% {
    width: 100%;
    left: 0;
  }
}
@keyframes blink {
  50% {
    color: transparent;
  }
}
.header-left h4 {
  margin-bottom: 20px;
  font-family: cursive;
}

.header-left :nth-child(5) {
  margin-left: 16px;
}

/* about-section */

.about-section {
  padding: 100px var(--padding-inline-section) 0;
  text-align: center;
  border-bottom: 1px solid #ccc;
}
.about-container {
  flex-direction: column;
  gap: 20px;
  align-items: center;
  /* margin-block: 20px; */
}
.about-container p {
  width: 75%;
}
/* .coding-profile {
  gap: 50px;
} */

/* coding section */
.coding-profile {
  width: 100%;
  margin-top: 40px;
  padding-inline: 20px;
}
.coding-card {
  justify-content: space-evenly;
  margin-block: 20px;
  gap: 20px;
}
.coding-card-item {
  flex-direction: column;
  padding: 20px;
  margin-block: 20px;
  background-color: #eecd9c;
  border-radius: 20px;
  width: 100%;
  margin-inline: 20px;
  border: 1px solid #eecd9c;
  transition: all 0.5s;
  line-height: 1.5;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.coding-card-item:hover {
  background-color: white;
  /* opacity: 0.8; */
}

h5 {
  font-size: 1rem;
}
.coding-card-item img {
  width: 40px;
  margin: 8px;
}
.coding-card-item a {
  color: var(--secondary-text-color);
  font-weight: bold;
}
/* .coding-card-item p {
  color: #8f8f9c;
} */
.coding-card-item :nth-child(3) {
  font-size: 14px;
  color: #8f6a2a;
}

/* Project-section */
.project-section {
  padding: 100px var(--padding-inline-section) 0;
  border-bottom: 1px solid #ccc;
}
.project-container {
  justify-content: center;
  padding: 20px;
  margin-block: 20px;
}

.project-section .container .p-btns {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 20px;
}
.project-section .container .p-btns .btn {
  background-color: antiquewhite;
  padding: 1.1rem 1.5rem;
  border: none;
  color: black;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
  margin: 0 10px 0 10px;
  border-radius: 20px;
}
.p-active-btn {
  background-color: var(--accent-color-dark) !important;
  transition: 0.5s;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.project-section .container .p-btns .btn:hover {
  background-color: var(--accent-color-dark);
  transition: 0.5s;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.project-section .grid {
  display: grid;
  gap: 1rem;
}

.project-section .grid-three-column {
  grid-template-columns: repeat(3, 1fr);
}

.hidden {
  display: none;
}

.img-overlay {
  z-index: 0;
  height: 200px;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  border-radius: 10px;
}
.project-section img {
  width: 100%;
  height: 100%;
  display: inline-block;
  border-radius: 7px;
}
.img-overlay:hover {
  /* border: 3px solid var(--accent-color); */
  transition: all 0.5s ease 0s;
  /* box-shadow: 0 0 2px 2px var(--accent-color-dark); */
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 1);
}
.overlay {
  opacity: 1;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
  transition: 0.3s linear;
  border-radius: 10px;
  flex-direction: column;
}
.overlay :nth-child(1) {
  color: white;
  font-weight: 600;
  font-size: 1.8rem;
}

.overlay :nth-child(2) {
  color: #e31b6d;
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.img-overlay:hover > .overlay {
  transform: translateY(0);
  opacity: 0.8;
  cursor: pointer;
  line-height: 1.5rem;
}

.overlay a {
  text-decoration: none;
  color: black;
  color: white;
  border: 2px solid #e31b6d;
  padding: 0.5rem 3rem;
}
.overlay a:hover {
  background-color: #e31b6d;
  outline: 1px dashed red;
  transition: all 0.5s ease;
  z-index: 2;
}
/* skills section */
.skills-section {
  text-align: center;
  padding: 100px var(--padding-inline-section) 0;
  border-bottom: 1px solid #ccc;
}
.skill-section-more {
  /* display: flex; */
  /* display: grid;
  grid-template-columns: 50% 50%; */
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-block: 20px;
  padding-block: 20px;
  padding-inline: 20px;
}
.first-sec {
  flex-basis: 100%;
}
.second-sec {
  flex-basis: 100%;
  /* z-index: -100; */
}

.skill .skill-detail {
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}
.skills-section .bar {
  border: 2px solid #0d96e0;
  border-radius: 20px;
}
.first-sec p {
  margin-block: 20px;
}
.bar div {
  /* position: relative; */
  width: 0;
  height: 9px;
  border-radius: 10px;
  background-color: #0d96e0;
}
.skill:not(:last-child) {
  margin-bottom: 20px;
}
/* anim */
#html-bar {
  animation: html-fill 2s forwards;
}
@keyframes html-fill {
  100% {
    width: 90%;
  }
}
#css-bar {
  animation: css-fill 2s forwards;
}
@keyframes css-fill {
  100% {
    width: 70%;
  }
}
#js-bar {
  animation: js-fill 2s forwards;
}
@keyframes js-fill {
  100% {
    width: 65%;
  }
}

#bootstrap-bar {
  animation: bootstrap-fill 2s forwards;
}
@keyframes bootstrap-fill {
  100% {
    width: 80%;
  }
}
#react-bar {
  animation: react-fill 2s forwards;
}
@keyframes react-fill {
  100% {
    width: 40%;
  }
}
#tailwind-bar {
  animation: tailwind-fill 2s forwards;
}
@keyframes tailwind-fill {
  100% {
    width: 50%;
  }
}
#android-bar {
  animation: android-fill 2s forwards;
}
@keyframes android-fill {
  100% {
    width: 70%;
  }
}
/* ---------------- */

/* timeline-section */
/* .timeline-section {
  text-align: center;
  padding: 100px var(--padding-inline-section) 0;
}
.timeline {
  display: inline-block;
  width: 50%;
  margin: 150px auto;
}

.timeline .heading {
  margin-bottom: 150px;
}

.card {
  width: 45%;
  padding: 30px;
  border-radius: 10px;
  color: #fff;
  display: inline block;
  margin: -80px 0;
  position: relative;
  background: #f00;
  z-index: -100;
}

.card:nth-child(even) {
  margin-left: auto;
}

.card:nth-child(even):before {
  content: "";
  position: absolute;
  left: -15%;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 5px solid #191919;
  border-radius: 50%;
}

.card:nth-child(even):after {
  content: "";
  position: absolute;
  left: -8.5%;
  top: 50%;
  transform: translateY(-50%);
  width: 7%;
  height: 2px;
  background: #fff;
  z-index: -1;
}

.card:nth-child(odd):before {
  content: "";
  position: absolute;
  right: -13%;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 5px solid #191919;
  border-radius: 50%;
}

.card:nth-child(odd):after {
  content: "";
  position: absolute;
  right: -8.5%;
  top: 50%;
  transform: translateY(-50%);
  width: 7%;
  height: 2px;
  background: #fff;
  z-index: -1;
}

.card:nth-child(2),
.card:nth-child(2):before {
  background: #ff4f4f;
}
.card:nth-child(3),
.card:nth-child(3):before {
  background: #ffb84f;
}
.card:nth-child(4),
.card:nth-child(4):before {
  background: #3dca5c;
}
.card:nth-child(5),
.card:nth-child(5):before {
  background: #565252;
}
.card:nth-child(6),
.card:nth-child(6):before {
  background: #4fa0ff;
}

.card:nth-child(even) .card-body:before {
  content: "";
  position: absolute;
  left: -12%;
  top: 0;
  width: 0px;
  height: 100%;
  border: 1px dashed #fff;
  z-index: -1;
}

.card-title {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 20px;
} */

/* contact-section */

.contact-section {
  padding: 100px var(--padding-inline-section) 0;
  align-items: center;
}
.contact-container {
  width: 50%;
  /* height: 100vh; */
  margin: 0 auto;
  /* background-color: #e5e5e5; */
  z-index: -100;
  place-items: center;
  margin-block: 20px;
  padding-block: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  height: 50px;
  font-size: 1.1rem;
  /* background: rgba(255, 255, 255, 0.2); */
  background: #f5f5f5;
  border: 0 solid #000;
  margin-bottom: 20px;
  border-radius: 6px;
  /* color: #000; */
  padding: 5px 10px;
}
/* .cen {
  margin-bottom: 20px;
} */
::placeholder {
  color: #555;
}
.contact-form .cen {
  margin-left: 50%;
  transform: translateX(-50%);
}

#msg {
  height: 220px;
  resize: none;
}

/* footer-section */
footer {
  /* margin-top: 100px; */
  padding: 80px var(--padding-inline-section) 40px;
  /* background-color: #bfdbfe; */
  background-color: var(--accent-color-dark);
  margin-top: 100px;
}
.footer-container {
  align-items: center;
  padding: 20px;
}
.social-icon {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.icon {
  padding: 20px;
  cursor: pointer;
}

.social-icon a {
  /* display: none; */
  color: #000;
}

/* /////////////// */

/* ////////////////////// */

@media (max-width: 968px) {
  .header-section {
    flex-direction: column;
  }
}

/* tablet */
@media (max-width: 768px) {
  .header-section {
    /* flex-direction: column-reverse; */
    flex-direction: column;
  }

  .about-section .about-container p {
    width: 100%;
  }

  .coding-card {
    flex-wrap: wrap;
  }
  .coding-card-item {
    margin-block: 0;
  }
  .project-container {
    justify-content: center;
  }
  .skill-section-more {
    flex-direction: column-reverse;
  }
  .skill-section-more .second-sec {
    width: 100%;
  }
  .skill-section-more .first-sec h3 {
    margin-top: 30px;
  }
  .contact-container {
    width: 100%;
  }
  .project-items {
    width: 100%;
  }
}

/* mobile */
@media (max-width: 414px) {
  .grid-three-column {
    grid-template-columns: 1fr 1fr;
  }
}
